<header>
        <h2>Navigation Bar</h2>
        <nav>
          <a href="/api/people">People</a>
          <span> | </span>
          <a href="/api/houses">Houses</a>
        </nav>
      </header>
      