<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Express App</title>
        <style>
          h1, h2, h3, h4, h5, h6 { margin: 10000; }
          .box {
            border: 2px solid rgb(19, 10, 8);
            padding: 30px;
            display: inline-block;
          }
        </style>
      </head>